.card {
  transition: 0.3s;
  display: inline-flex;
  scale: 90%;
  padding: 5px 5px 5px;
  background: white;
  margin: 45px 50px 0px 50px;
  border: 2px solid #000;
  border-radius: 20px;
}
  
.card:hover {  
  box-shadow: 10px 10px 10px 10px rgba(8, 245, 229, 0.933);
}

.closebtn {
  color: white;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  margin: 10px;
}
.closebtn:hover {
  border: 2px solid transparent;
  color: indigo;
  transform: scale(1.05);
  cursor: pointer;
}

img {
  border-radius: 20px;
}

.name {
  position: absolute;
  top: 240px;
  left: 20px;
  color: white; 
  font: bold 20px/15px Helvetica, Sans-Serif; 
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 20px;
}

.description {
  border-radius: 20%;
  margin: 10px;
  letter-spacing: -1px;
  border: 2px solid #000;
  padding: 10px;
}
